# Python Project

In [4]:
import pandas as pd
import numpy as np
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df1= pd.concat(pd.read_excel("imus.xlsx",sheet_name= None),ignore_index = True)

In [13]:
df1

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627926 entries, 0 to 2627925
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   sku              object
 4   alt_sku          object
 5   description      object
 6   status           object
 7   qty              int64
 8   price            float64
 9   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 200.5+ MB

In [22]:
df1.isnull()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2627921,False,False,False,False,True,False,False,False,False,False
2627922,False,False,False,False,True,False,False,False,False,False
2627923,False,False,False,False,True,False,False,False,False,False
2627924,False,False,False,False,True,False,False,False,False,False
2627925,False,False,False,False,True,False,False,False,False,False

In [23]:
df1.describe()

           category           qty         price
count  2.627926e+06  2.627926e+06  2.627926e+06
mean   2.379739e+03  4.138502e+01  1.882534e+03
std    2.776633e+03  5.802069e+02  8.202102e+04
min    1.000000e+00  0.000000e+00  0.000000e+00
25%    7.010000e+02  0.000000e+00  2.108000e+01
50%    1.535000e+03  0.000000e+00  9.531000e+01
75%    2.240000e+03  2.000000e+00  4.998400e+02
max    9.999000e+03  6.006300e+04  8.497453e+07

In [6]:
df1_stock= df1[df1.status == 'In Stock']

In [7]:
df1_nostock= df1[df1.status == 'No Stock']

In [23]:
df1_stock

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,NaN,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17
271,531,OMNITRON SYSTEMS,7206-0,BA6834,NaN,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,NaN,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,NaN,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,NaN,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [8]:
df_2 = df1_stock.drop(['status', 'alt_sku','description','sku'], axis = 1)

In [9]:
df_3=df1_nostock.drop(['status', 'alt_sku','description','sku'], axis = 1)

In [16]:
df_2.info()

NameError: name 'df_2' is not defined

In [29]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1914138 entries, 0 to 2627857
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   qty              int64
 4   price            float64
 5   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 102.2+ MB

In [11]:
df_2_1 = df_2.astype({"category": object})

In [10]:
df_3_1 = df_3.astype({"category": object})

In [132]:
df_2_1.info()#stock

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713788 entries, 253 to 2627925
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   category         713788 non-null  object
 1   manufacturer     713788 non-null  object
 2   part_number      713788 non-null  object
 3   qty              713788 non-null  int64
 4   price            713788 non-null  float64
 5   sku_create_date  713788 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 54.2+ MB

In [ ]:
df_3_1.info()#no stock

In [134]:
df_3_1['qty'] #no stock had zeqo qty

0          0
1          0
2          0
3          0
4          0
          ..
2627418    0
2627775    0
2627822    0
2627853    0
2627857    0
Name: qty, Length: 1914138, dtype: int64

In [135]:
df_2_1.head()

,category,manufacturer,part_number,qty,price,sku_create_date
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,7,99.00,2020-08-17
271,531,OMNITRON SYSTEMS,7206-0,2,59.09,2020-08-17
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,3,500.06,2020-08-17
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,115,86.34,2020-08-17
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,42,51.80,2020-08-17

In [136]:
df_2_1.sort_values(by = ['qty', 'price'], ascending = [True, False], na_position = 'first')

,category,manufacturer,part_number,qty,price,sku_create_date
1203979,505,HPE - ARUBA INSTANT,JW830A,1,35554.13,2020-08-20
1146919,295,HPE - NIMBLE BTO,R3S71A,1,26350.60,2020-08-19
1127383,661,PULSE SECURE,PSA7000-10G-SFP-PLUS,1,23423.40,2020-08-19
1259818,505,HPE - ARUBA INSTANT,JW778A,1,21257.02,2020-08-21
1017049,521,MELLANOX TECHNOLOGIES,MSN3700-CS2F,1,20144.08,2020-08-17
...,...,...,...,...,...,...
2558454,1221,DELL CSG SERVICE WARRANTIES,808-3105,60004,84.06,2020-08-27
1245234,1221,DELL CSG SERVICE WARRANTIES,808-3105,60005,84.24,2020-08-21
2609950,1221,DELL CSG SERVICE WARRANTIES,808-3108,60014,136.42,2020-08-28
1135792,1221,DELL CSG SERVICE WARRANTIES,808-3123,60018,129.96,2020-08-19
2364017,1221,DELL CSG SERVICE WARRANTIES,808-3177,60063,38.76,2020-08-25

In [31]:
grouped2 = df_2_1.groupby('manufacturer')

In [46]:
grouped2

In [27]:
n_1 = df_2_1.groupby("manufacturer")["price"].count()
n_1.head(10)

manufacturer
3M - OPTICAL SYSTEMS DIVISION     6826
3M - WORKSPACE SOLUTIONS           395
4XEM                             24291
AAXA-PROJECTORS                     34
ACCELL                              14
ACECAD                              43
ACER - CHROME ENTERPRISE            28
ACER AMERICA - DESKTOPS             31
ACER AMERICA - DISPLAYS            519
ACER AMERICA - NOTEBOOKS             2
Name: price, dtype: int64

In [29]:
df_2_1.columns

Index(['category', 'manufacturer', 'part_number', 'qty', 'price',
       'sku_create_date'],
      dtype='object')

# In Stock

## 1. Which are the top Manufacturers with price?

In [14]:
df_2_1[df_2_1['price'].max()==df_2_1['price']]['manufacturer']

1199874    HPE - SWITCHING
Name: manufacturer, dtype: object

## 1. Which are the top Manufacturers with quantity?

In [70]:
df_2_1[df_2_1['qty'].max()==df_2_1['qty']]['manufacturer']

2364017    DELL CSG SERVICE WARRANTIES
Name: manufacturer, dtype: object

## 5. Which is the top category by price ?

In [74]:
df_2_1[df_2_1['price'].max()==df_2_1['price']]['category']

1199874    521
Name: category, dtype: object

## 5. Which is the top category by quantity?

In [75]:
df_2_1[df_2_1['qty'].max()==df_2_1['qty']]['category']

2364017    1221
Name: category, dtype: object

# No Stock

## 1. Which are the top Manufacturers with price?

In [12]:
df_3_1[df_3_1['price'].max()==df_3_1['price']]['manufacturer']

1046052    ALTNET
2310142    ALTNET
Name: manufacturer, dtype: object

## 1. Which are the top Manufacturers with quantity?

In [13]:
df_3_1[df_3_1['qty'].max()==df_3_1['qty']]['manufacturer']

0          MS-OPEN VALUE SUBSCRIPTION
1          MS-OPEN VALUE SUBSCRIPTION
2          MS-OPEN VALUE SUBSCRIPTION
3          MS-OPEN VALUE SUBSCRIPTION
4          MS-OPEN VALUE SUBSCRIPTION
                      ...
2627418                        TARGUS
2627775                      ENGENIUS
2627822                      KINGSTON
2627853     KINGSTON TECHNOLOGY FLASH
2627857                      KINGSTON
Name: manufacturer, Length: 1914138, dtype: object

## 5. Which is the top category by quantity?

In [17]:
df_3_1[df_3_1['qty'].max()==df_3_1['qty']]['category']

0          1539
1          1539
2          1539
3          1539
4          1582
           ...
2627418    3360
2627775     505
2627822    9910
2627853     291
2627857     291
Name: category, Length: 1914138, dtype: object

## 5. Which is the top category by price?

In [16]:
df_3_1[df_3_1['price'].max()==df_3_1['price']]['category']

1046052    1231
2310142    1231
Name: category, dtype: object

In [77]:
df_2_1['part_number'].value_counts()

DP2VGAA            190
DPM-VGAF           185
USB3GIG            182
1733011            180
506043             180
                  ...
BL-819               1
PD-POE-EXTENDER      1
79866M               1
APS750               1
C8R24B               1
Name: part_number, Length: 30672, dtype: int64

In [78]:
dup=df_2_1.duplicated().any()

In [79]:
dup

True

In [32]:
df_2_2=df_2_1.drop_duplicates()

In [33]:
df_2_2.shape

(156810, 6)

In [82]:
df_2_1.shape

(713788, 6)

In [84]:
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [91]:
import numpy as np

In [73]:
grape2=df_2_2.pivot_table(values='price',index=['part_number'],columns=['sku_create_date'], aggfunc=np.sum)

In [74]:
grape2

sku_create_date,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
part_number,,,,,,,,,,
0-00496,59.62,NaN,NaN,NaN,NaN,59.62,NaN,NaN,NaN,NaN
0-00498,96.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
003-000884-01-OE,782.88,NaN,NaN,NaN,NaN,782.88,NaN,NaN,NaN,NaN
00385,3.52,NaN,NaN,NaN,NaN,3.52,NaN,NaN,NaN,NaN
00388,4.85,NaN,NaN,NaN,NaN,4.85,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
ZT62062-T01A100Z,4001.17,NaN,NaN,NaN,NaN,4001.17,NaN,NaN,NaN,NaN
ZT62063-T010100Z,3797.41,NaN,NaN,NaN,NaN,3797.41,3797.41,NaN,NaN,NaN
ZT62063-T01A100Z,4140.69,NaN,NaN,NaN,NaN,4140.69,NaN,NaN,NaN,NaN
ZT62063-T110100Z,4344.44,NaN,NaN,NaN,NaN,4344.44,NaN,NaN,NaN,NaN
ZUCUBJCK,16.74,NaN,NaN,NaN,NaN,16.74,NaN,NaN,NaN,NaN

In [ ]:
grape2['% Difference'] = (grape2['2020-08-17'] - grape2['2020-08-18'].shift(periods=1)) / grape2['Amount'].shift(periods=1)

In [72]:
grape2['2020-08-17'].sort_values(ascending=False)

NameError: name 'grape2' is not defined

In [44]:
pd.pivot_table(df_2_2, 'sku_create_date', ['part_number', 'price'])

                             sku_create_date
part_number      price
0-00496          59.62   2020-08-20 12:00:00
0-00498          96.65   2020-08-17 00:00:00
003-000884-01-OE 384.20  2020-08-20 12:00:00
                 398.68  2020-08-20 12:00:00
00385            1.72    2020-08-20 12:00:00
...                                      ...
ZT62062-T01A100Z 4001.17 2020-08-20 12:00:00
ZT62063-T010100Z 3797.41 2020-08-22 00:00:00
ZT62063-T01A100Z 4140.69 2020-08-20 12:00:00
ZT62063-T110100Z 4344.44 2020-08-20 12:00:00
ZUCUBJCK         16.74   2020-08-20 12:00:00

[48215 rows x 1 columns]

In [59]:
df_2_2_index = df_2_2.set_index(['part_number','sku_create_date']).sort_index()

In [64]:
df_2_2_index.pop('manufacturer')

part_number       sku_create_date
0-00496           2020-08-17                    CONTOUR DESIGN  INC.
                  2020-08-24                    CONTOUR DESIGN  INC.
0-00498           2020-08-17                    CONTOUR DESIGN  INC.
003-000884-01-OE  2020-08-17                 BATTERY TECHNOLOGY INC.
                  2020-08-17                 BATTERY TECHNOLOGY INC.
                                                  ...
ZT62063-T01A100Z  2020-08-24         ZEBRA PRINT A1 - DIFFERENTIATED
ZT62063-T110100Z  2020-08-17         ZEBRA PRINT A1 - DIFFERENTIATED
                  2020-08-24         ZEBRA PRINT A1 - DIFFERENTIATED
ZUCUBJCK          2020-08-17                                  ZCOVER
                  2020-08-24                                  ZCOVER
Name: manufacturer, Length: 156810, dtype: object

In [65]:
df_2_2_index

                                    price
part_number      sku_create_date
0-00496          2020-08-17         59.62
                 2020-08-24         59.62
0-00498          2020-08-17         96.65
003-000884-01-OE 2020-08-17        398.68
                 2020-08-17        384.20
...                                   ...
ZT62063-T01A100Z 2020-08-24       4140.69
ZT62063-T110100Z 2020-08-17       4344.44
                 2020-08-24       4344.44
ZUCUBJCK         2020-08-17         16.74
                 2020-08-24         16.74

[156810 rows x 1 columns]

In [39]:
grape3.

price,0.00,0.20,0.21,0.44,0.46,0.59,0.60,0.63,0.68,0.69,...,18251.60,19556.00,20144.08,21257.02,23423.40,26350.60,29385.55,35554.13,40893.99,69729.03
sku_create_date,,,,,,,,,,,,,,,,,,,,,
2020-08-17,SCX-5835FN - TAABTRY-MC55EAB00,01921,01921,0381003820,0381003820,CC-BLKREMOTE-VRBOX,NaN,CAT5UTP-01F-BLUCAT5UTP-01F-BLKCAT5UTP-01F-GRY,1AE5NOPADSV7CAT5UTP-50C-BLK-1EV7CAT5UTP-50C-BL...,V7N3C5E-01F-BLUS,...,JL366AJL479A#B2B,MSN2700-CS2FC,MSN3700-CS2F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1AE5NOPADSV7CAT5UTP-50C-RED-1E,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1AE5NOPADS,NaN,...,NaN,NaN,NaN,NaN,PSA7000-10G-SFP-PLUS,R3S71A,NaN,NaN,NaN,NaN
2020-08-20,NaN,NaN,NaN,NaN,NaN,NaN,C6MUYLSBVT-03-NP,NaN,1AE5NOPADS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,JW675A,JW830A,NaN,JL376A#B2B
2020-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1AE5NOPADS,NaN,...,NaN,NaN,MSN3700-CS2F,JW778A,PSA7000-10G-SFP-PLUS,NaN,NaN,NaN,NaN,NaN
2020-08-24,SCX-5835FN - TAABTRY-MC55EAB00,01921,01921,0381003820,0381003820,CC-BLKREMOTE-VRBOX,NaN,CAT5UTP-01F-BLUCAT5UTP-01F-BLKCAT5UTP-01F-GRY,1AE5NOPADSV7CAT5UTP-50C-BLK-1EV7CAT5UTP-50C-BL...,V7N3C5E-01F-BLUS,...,JL366A,MSN2700-CS2FC,MSN3700-CS2F,NaN,PSA7000-10G-SFP-PLUS,NaN,NaN,NaN,NaN,NaN
2020-08-25,NaN,NaN,NaN,NaN,NaN,NaN,C6MUYLSBVT-03-NP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-26,NaN,NaN,NaN,NaN,NaN,NaN,C6MUYLSBVT-03-NP,NaN,1AE5NOPADS,NaN,...,NaN,NaN,NaN,NaN,PSA7000-10G-SFP-PLUS,NaN,NaN,NaN,NaN,NaN
2020-08-27,NaN,NaN,NaN,03820,03820,NaN,NaN,NaN,V7CAT5UTP-50C-BLK-1EV7CAT5UTP-50C-BLU-1EV7CAT5...,NaN,...,NaN,NaN,NaN,NaN,PSA7000-10G-SFP-PLUS,NaN,NaN,NaN,R3S72A,NaN
2020-08-28,NaN,NaN,NaN,NaN,NaN,REMOTE-VRBOX,NaN,NaN,V7CAT5UTP-50C-GRY-1E,NaN,...,NaN,NaN,MSN3700-CS2F,NaN,NaN,NaN,NaN,NaN,R3S72A,NaN

In [112]:
grape4

sku_create_date,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
part_number,,,,,,,,,,
0-00496,59.62,0.0,0.0,0.0,0.0,59.62,0.00,0.0,0.0,0.0
0-00498,96.65,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0
003-000884-01-OE,782.88,0.0,0.0,0.0,0.0,782.88,0.00,0.0,0.0,0.0
00385,3.52,0.0,0.0,0.0,0.0,3.52,0.00,0.0,0.0,0.0
00388,4.85,0.0,0.0,0.0,0.0,4.85,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
ZT62062-T01A100Z,4001.17,0.0,0.0,0.0,0.0,4001.17,0.00,0.0,0.0,0.0
ZT62063-T010100Z,3797.41,0.0,0.0,0.0,0.0,3797.41,3797.41,0.0,0.0,0.0
ZT62063-T01A100Z,4140.69,0.0,0.0,0.0,0.0,4140.69,0.00,0.0,0.0,0.0
ZT62063-T110100Z,4344.44,0.0,0.0,0.0,0.0,4344.44,0.00,0.0,0.0,0.0
ZUCUBJCK,16.74,0.0,0.0,0.0,0.0,16.74,0.00,0.0,0.0,0.0

In [126]:
grape4.pct_change(axis=1,fill_method="pad",periods=1)

sku_create_date,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
part_number,,,,,,,,,,
0-00496,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
0-00498,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
003-000884-01-OE,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
00385,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
00388,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
ZT62062-T01A100Z,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
ZT62063-T010100Z,NaN,-1.0,NaN,NaN,NaN,inf,0.0,-1.0,NaN,NaN
ZT62063-T01A100Z,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
ZT62063-T110100Z,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN
ZUCUBJCK,NaN,-1.0,NaN,NaN,NaN,inf,-1.0,NaN,NaN,NaN

In [137]:
df_2_1.columns

Index(['category', 'manufacturer', 'part_number', 'qty', 'price',
       'sku_create_date'],
      dtype='object')

In [138]:
df_2_1['part_number'].value_counts()

DP2VGAA            190
DPM-VGAF           185
USB3GIG            182
1733011            180
506043             180
                  ...
BL-819               1
PD-POE-EXTENDER      1
79866M               1
APS750               1
C8R24B               1
Name: part_number, Length: 30672, dtype: int64

In [141]:
part_grp = df_2_1.groupby(["part_number"])

In [148]:
part_grp['sku_create_date'].value_counts()

part_number       sku_create_date
0-00496           2020-08-17          1
                  2020-08-24          1
0-00498           2020-08-17          1
003-000884-01-OE  2020-08-17         15
                  2020-08-24         15
                                     ..
ZT62063-T01A100Z  2020-08-24          1
ZT62063-T110100Z  2020-08-17          1
                  2020-08-24          1
ZUCUBJCK          2020-08-17          1
                  2020-08-24          1
Name: sku_create_date, Length: 111056, dtype: int64

In [152]:
part_grp['price'].value_counts(normalize=True).head(50)

part_number       price
0-00496           59.62     1.000000
0-00498           96.65     1.000000
003-000884-01-OE  384.20    0.933333
                  398.68    0.066667
00385             1.72      0.928571
                  1.80      0.071429
00388             2.37      0.928571
                  2.48      0.071429
00392             1.15      0.928571
                  1.20      0.071429
00394             1.72      0.928571
                  1.80      0.071429
00397             2.37      0.928571
                  2.48      0.071429
00398             3.63      0.928571
                  3.79      0.071429
00401             1.23      0.928571
                  1.28      0.071429
00403             1.72      0.928571
                  1.80      0.071429
00409             6.37      0.928571
                  6.65      0.071429
00420             1.23      0.928571
                  1.28      0.071429
00436             2.66      0.928571
                  2.78      0.071429
00448             2.13      0.928571
                  2.22      0.071429
00463             1.29      0.928571
                  1.35      0.071429
00477             6.37      0.928571
                  6.65      0.071429
00496             1.62      0.928571
                  1.69      0.071429
00497             1.72      0.928571
                  1.80      0.071429
005354            57.76     0.703448
                  57.62     0.234483
                  63.47     0.048276
                  63.33     0.013793
005356            67.22     0.666667
                  67.05     0.333333
005357            74.57     0.666667
                  74.38     0.333333
005358            89.64     0.755556
                  89.42     0.188889
                  98.50     0.044444
                  98.28     0.011111
005361            97.05     0.714286
                  96.80     0.285714
Name: price, dtype: float64

In [158]:
part_grp1['price'].agg(['median','mean',"sum", "min", "max"])

                                   median         mean      sum      min  \
part_number      sku_create_date
0-00496          2020-08-17         59.62    59.620000    59.62    59.62
                 2020-08-24         59.62    59.620000    59.62    59.62
0-00498          2020-08-17         96.65    96.650000    96.65    96.65
003-000884-01-OE 2020-08-17        384.20   385.165333  5777.48   384.20
                 2020-08-24        384.20   385.165333  5777.48   384.20
...                                   ...          ...      ...      ...
ZT62063-T01A100Z 2020-08-24       4140.69  4140.690000  4140.69  4140.69
ZT62063-T110100Z 2020-08-17       4344.44  4344.440000  4344.44  4344.44
                 2020-08-24       4344.44  4344.440000  4344.44  4344.44
ZUCUBJCK         2020-08-17         16.74    16.740000    16.74    16.74
                 2020-08-24         16.74    16.740000    16.74    16.74

                                      max
part_number      sku_create_date
0-00496          2020-08-17         59.62
                 2020-08-24         59.62
0-00498          2020-08-17         96.65
003-000884-01-OE 2020-08-17        398.68
                 2020-08-24        398.68
...                                   ...
ZT62063-T01A100Z 2020-08-24       4140.69
ZT62063-T110100Z 2020-08-17       4344.44
                 2020-08-24       4344.44
ZUCUBJCK         2020-08-17         16.74
                 2020-08-24         16.74

[111056 rows x 5 columns]

In [160]:
part_grp2 = df_2_1.groupby(["part_number",'price'])

In [218]:
part_grp2['sku_create_date'].value_counts()

part_number       price    sku_create_date
0-00496           59.62    2020-08-17          1
                           2020-08-24          1
0-00498           96.65    2020-08-17          1
003-000884-01-OE  384.20   2020-08-17         14
                           2020-08-24         14
                                              ..
ZT62063-T01A100Z  4140.69  2020-08-24          1
ZT62063-T110100Z  4344.44  2020-08-17          1
                           2020-08-24          1
ZUCUBJCK          16.74    2020-08-17          1
                           2020-08-24          1
Name: sku_create_date, Length: 156794, dtype: int64

In [253]:
jk = part_grp2['sku_create_date'].value_counts().reset_index( name='value_counts').sort_values(['value_counts'], ascending=True)

In [174]:
max1= part_grp2['sku_create_date'].max()

In [175]:
part_grp2['max1']=max1

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [177]:
part_grp2['sku_create_date'].agg(["min", "max",]).diff(axis=1)

                         min    max
part_number      price
0-00496          59.62   NaT 7 days
0-00498          96.65   NaT 0 days
003-000884-01-OE 384.20  NaT 7 days
                 398.68  NaT 7 days
00385            1.72    NaT 7 days
...                       ..    ...
ZT62062-T01A100Z 4001.17 NaT 7 days
ZT62063-T010100Z 3797.41 NaT 8 days
ZT62063-T01A100Z 4140.69 NaT 7 days
ZT62063-T110100Z 4344.44 NaT 7 days
ZUCUBJCK         16.74   NaT 7 days

[48215 rows x 2 columns]

In [179]:
part_grp1['price'].agg(["min", "max",]).diff(axis=1).head(50)

                                  min    max
part_number      sku_create_date
0-00496          2020-08-17       NaN   0.00
                 2020-08-24       NaN   0.00
0-00498          2020-08-17       NaN   0.00
003-000884-01-OE 2020-08-17       NaN  14.48
                 2020-08-24       NaN  14.48
00385            2020-08-17       NaN   0.08
                 2020-08-24       NaN   0.08
00388            2020-08-17       NaN   0.11
                 2020-08-24       NaN   0.11
00392            2020-08-17       NaN   0.05
                 2020-08-24       NaN   0.05
00394            2020-08-17       NaN   0.08
                 2020-08-18       NaN   0.08
                 2020-08-24       NaN   0.08
                 2020-08-28       NaN   0.08
00397            2020-08-17       NaN   0.11
                 2020-08-24       NaN   0.11
00398            2020-08-17       NaN   0.16
                 2020-08-24       NaN   0.16
00401            2020-08-17       NaN   0.05
                 2020-08-19       NaN   0.05
                 2020-08-24       NaN   0.05
                 2020-08-25       NaN   0.05
                 2020-08-27       NaN   0.05
00403            2020-08-17       NaN   0.08
                 2020-08-24       NaN   0.08
                 2020-08-25       NaN   0.08
                 2020-08-26       NaN   0.08
                 2020-08-28       NaN   0.08
00409            2020-08-17       NaN   0.28
                 2020-08-24       NaN   0.28
00420            2020-08-17       NaN   0.05
                 2020-08-24       NaN   0.05
00436            2020-08-17       NaN   0.12
                 2020-08-24       NaN   0.12
00448            2020-08-17       NaN   0.09
                 2020-08-24       NaN   0.09
00463            2020-08-17       NaN   0.06
                 2020-08-24       NaN   0.06
00477            2020-08-17       NaN   0.28
                 2020-08-24       NaN   0.28
00496            2020-08-17       NaN   0.07
                 2020-08-24       NaN   0.07
00497            2020-08-17       NaN   0.08
                 2020-08-24       NaN   0.08
                 2020-08-25       NaN   0.08
005354           2020-08-17       NaN   5.71
                 2020-08-18       NaN   0.00
                 2020-08-19       NaN   5.71
                 2020-08-20       NaN   5.71

In [180]:
part_grp1['price'].agg(["min", "max",])

                                      min      max
part_number      sku_create_date
0-00496          2020-08-17         59.62    59.62
                 2020-08-24         59.62    59.62
0-00498          2020-08-17         96.65    96.65
003-000884-01-OE 2020-08-17        384.20   398.68
                 2020-08-24        384.20   398.68
...                                   ...      ...
ZT62063-T01A100Z 2020-08-24       4140.69  4140.69
ZT62063-T110100Z 2020-08-17       4344.44  4344.44
                 2020-08-24       4344.44  4344.44
ZUCUBJCK         2020-08-17         16.74    16.74
                 2020-08-24         16.74    16.74

[111056 rows x 2 columns]

In [237]:
jk

      part_number   price sku_create_date  value_counts
0         0-00496   59.62      2020-08-17             1
95952    KVM-9006  173.76      2020-08-19             1
95951    KVM-9006  173.76      2020-08-17             1
95947    KVM-0411   44.09      2020-08-24             1
95946    KVM-0411   44.09      2020-08-17             1
...           ...     ...             ...           ...
14137       26260   15.60      2020-08-17            26
2614        03134    4.25      2020-08-26            26
14138       26260   15.60      2020-08-24            26
4151        09482    4.84      2020-08-17            26
4152        09482    4.84      2020-08-24            26

[156794 rows x 4 columns]

In [281]:
jk = jk.set_index('sku_create_date')

KeyError: "None of ['sku_create_date'] are in the columns"

In [260]:
jk.max()

part_number                   ZUCUBJCK
price                         69729.03
sku_create_date    2020-08-28 00:00:00
value_counts                        26
dtype: object

In [261]:
jk.min()

part_number                    0-00496
price                              0.0
sku_create_date    2020-08-17 00:00:00
value_counts                         1
dtype: object

In [273]:
jk_grp = jk.groupby(["value_counts"])

In [279]:
jk_grp.get_group(2)

          part_number  price sku_create_date  value_counts
78211     F8M930BTBLK  12.75      2020-08-18             2
78212     F8M930BTBLK  12.75      2020-08-20             2
78148  F8J221BT04-BLK  18.35      2020-08-28             2
78205  F8M890BT04-BLK   8.54      2020-08-18             2
78141  F8J221BT04-BLK  18.35      2020-08-17             2
...               ...    ...             ...           ...
4155            09482   5.05      2020-08-17             2
78057  F8J078BT04-BLK  18.78      2020-08-20             2
13839        2469A002  21.26      2020-08-17             2
78056  F8J078BT04-BLK  18.78      2020-08-18             2
78059  F8J078BT04-BLK  18.78      2020-08-26             2

[69 rows x 4 columns]

In [267]:
part_grp.get_group('26260')

        category      manufacturer part_number  qty  price sku_create_date
101680      2240  C2G TRANSCEIVERS       26260    2  16.35      2020-08-17
101681      2240  C2G TRANSCEIVERS       26260    2  15.60      2020-08-17
101682      2240  C2G TRANSCEIVERS       26260    2  15.60      2020-08-17
101683      2240  C2G TRANSCEIVERS       26260    2  15.60      2020-08-17
101684      2240  C2G TRANSCEIVERS       26260    2  15.60      2020-08-17
...          ...               ...         ...  ...    ...             ...
1983480     2240  C2G TRANSCEIVERS       26260    1  15.60      2020-08-24
1983481     2240  C2G TRANSCEIVERS       26260    1  15.60      2020-08-24
1983482     2240  C2G TRANSCEIVERS       26260    1  15.60      2020-08-24
1983483     2240  C2G TRANSCEIVERS       26260    1  15.60      2020-08-24
1983484     2240  C2G TRANSCEIVERS       26260    1  15.60      2020-08-24

[70 rows x 6 columns]

In [25]:
part_grp4 = df_2_1.groupby(["sku_create_date"])

In [27]:
part_grp4["part_number"]